<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head")  %> 
</head>
<body>
    <%- include("./partials/header")  %>
    Hello world
    <a href="../createAcount">Create Acount</a>
    <a href="./login">Login</a>
</body>
</html>