<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head")  %> 
    <link rel="stylesheet" href="../../css/home.css">
</head>
<body>
    <%- include("./partials/header")  %>
    <h1>Login </h1>
   <div class="containerAll-home"> 
        <a class="crear" href="../createAcount"><p>Create Acount</p> </a>
        <a class="iniciar" href="./login"><p>Login</p></a>
    </div>
</body>
</html>